<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<title>Appalse</title>
	<meta name="author" content="appalse"/>
	<meta name="description" content="appalse web page"/>
	<meta name="google-site-verification" content="F3SYFJYeDJ4gYR6LIcgDI88We_ByTOo7U7zI3HxSZ98"/>
	<meta name="keywords" content="appalse"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<script language="JavaScript">
		if (window.location.href.indexOf('http://')==0)
		  window.location=window.location.href.replace('http://','https://');
		function toggleMenu() {
			if (!window.matchMedia("screen and (max-width: 780px)").matches) {
				return;
			}
			let menuBox = document.getElementById('menu-box');
			if (menuBox.style.display === 'flex'){
				menuBox.style.display = 'none';
			} else {
				menuBox.style.display = 'flex';
			};
		}
	</script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"/>
</head>
<body>
	<header class="header">
		<h1 class="header__caption"><a href="/">Appalse</a></h1>
		<div class="header__mobile-menu" id="menu-btn">
			<button class="header__menu-btn" onclick="toggleMenu()"><i class="fas fa-bars"></i></button>
		</div>
		<nav class="header__btns" id="menu-box">
			<button class="header__btn" onclick="toggleMenu()" id="header-btn-about"><a href="#">About me</a></button>
			<button class="header__btn" onclick="toggleMenu()" id="header-btn-projects"><a href="#projects">Projects</a></button>
			<button class="header__btn" onclick="toggleMenu()" id="header-btn-learning"><a href="#learning">Learning</a></button>
			<button class="header__btn" onclick="toggleMenu()" id="header-btn-blog"><a href="#blog">Blog</a></button>
			<button class="header__btn" onclick="toggleMenu()" id="header-btn-contacts"><a href="#contacts">Contacts</a></button>
		</nav>
	</header>

	<footer class="footer">&copy; appalse.ru 2019</footer>

	<main class="main">

		<div id="aboutme"></div>
		<section class="main__subsection">
			<h2 class="subsection__header">About me:</h2>
			<img class="aboutme__photo" src="{{ url_for('static', filename='me.jpg') }}" alt="photo of website developer" />
			<article class="aboutme__text"> 
				<p>Hello, my name is Natalia. I'm a frontend developer. I'm keen on the user interfaces development, and I especially enjoy working with React framework, Bootstrap and page making. </p>
				<p>At the moment I'm actively learning React, Bootstrap, HTML, CSS, JS and I am interested in getting a related experience. This website accumulates my projects which were developed during self-education process.</p>
				<p>I have graduated from the Moscow Aviation Institute in 2012. After that I started my career in ABBYY as a technical support engineer and rapidly grew to the senior software testing engineer. In 2018 I worked as a C++ developer in small company where I understood that I would like to develop user interfaces, but in the web. So, beginning from that time I completely immersed into frontend technologies. </p>
				<p>Please, see below my projects and my blog. In order to contact me you could use contacts in the bottom of this page or write an email. </p>
			</article>	
		</section>

		<div id="projects"></div>
		<section class="main__subsection">	
			<h2 class="subsection__header">My projects:</h2>
			<div class="projects">
				<div class="project project__messier-objects">
					<a href="https://messier-objects.firebaseapp.com" title="Click to open in new tab" target="_blank">
						<p class="caption">Online Store on React</p>
						<div class="icon"></div>
					</a>		
				</div>
				<div class="project project__memoji-game">
					<a href="memoji" title="Click to open in new tab" target="_blank">
						<p class="caption">Memoji web-game</p>
						<div class="icon"></div>				
					</a>
				</div>
				<div class="project project__binary-calculator">
					<a href="binary-calculator" title="Click to open in new tab" target="_blank">
						<p class="caption">Binary calculator online</p>
						<div class="icon"></div>
					</a>		
				</div>
				<div class="project project__kissenichka">
					<a href="https://www.kissenichka.ru" title="Click to open in new tab" target="_blank">
						<p class="caption">Baby clothes shop on WordPress</p>
						<div class="icon"></div>
					</a>		
				</div>
				<div class="project project__smartphone">
					<a href="https://codepen.io/appalse/full/LvPvbg" title="Click to open in new tab" target="_blank">
						<p class="caption">Smartphone rotation</p>
						<div class="icon"></div>
					</a>		
				</div>
				<div class="project project__tribute-page">
					<a href="https://codepen.io/appalse/full/MRmoNg" title="Click to open in new tab" target="_blank">
						<p class="caption">Tenzing Norgay tribute page</p>
						<div class="icon"></div>
					</a>		
				</div>
			</div>	
		</section>

		<div id="learning"></div>
		<section class="main__subsection">
			<h2 class="subsection__header">My certificates:</h2>
			<ul class="certificates">
				<li class="certificate certificate__coursera-frontend">
					<p class="caption" title="Click to open in new tab"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/PWMDB5J9ESS8" target="_blank">Frontend: page making and Javascript, Coursera by MIPT and Yandex</a></p>
				</li>
				<li class="certificate certificate__free-code-camp">
					<p class="caption" title="Click to open in new tab"><a href="https://www.freecodecamp.org/fcc3ad6e5ae-7fed-4b67-ad44-2c42570b0bc3" target="_blank">FreeCodeCamp (in progress)</a></p>
				</li>
			</ul>
		</section>

		<div id="blog"></div>
		<section class="main__subsection">
			<h2 class="subsection__header">My blog:</h2>
			<ul class="articles">
				<li class="article article__openssh">
					<p class="caption" title="Click to open in new tab"><a href="https://natalia-kutina.livejournal.com/9076.html" target="_blank">OpenSSH for github, host and local machines</a></p>
				</li>
				<li class="article article__opengl">
					<p class="caption" title="Click to open in new tab"><a href="https://natalia-kutina.livejournal.com/8454.html" target="_blank">How to use OpenGL in Ubuntu</a></p>
				</li>
				<li class="article article__feynman-tufte">
					<p class="caption" title="Click to open in new tab"><a href="https://natalia-kutina.livejournal.com/8331.html" target="_blank">The Feynman-Tufte Principle</a></p>
				</li>
				<li class="article article__virtualenv">
					<p class="caption" title="Click to open in new tab"><a href="https://natalia-kutina.livejournal.com/7278.html" target="_blank">About python virtualenv</a></p>
				</li>
				<li class="article article__cpp-types">
					<p class="caption" title="Click to open in new tab"><a href="https://natalia-kutina.livejournal.com/7769.html" target="_blank">C++ types</a></p>
				</li>
			</ul>
		</section>

		<div id="contacts"></div>
		<section class="main__subsection">
			<h2 class="subsection__header">Contacts:</h2>
			<div class="subsection__contacts">				
				<ul class="contact-list">
					<li class="caption"><a href="https://github.com/appalse" target="_blank"><i class="contact-icon fab fa-github"></i>Github</a></li>
					<li class="caption"><a href="mailto:kutina_nat@mail.ru"><i class="contact-icon fas fa-envelope"></i>Email</a></li>
					<li class="caption"><a href="skype:nathalie_app?chat"><i class="contact-icon fab fa-skype"></i>Skype</a></li>
					<li class="caption"><a href="https://www.linkedin.com/in/nataliakutina" target="_blank"><i class="contact-icon fab fa-linkedin-in"></i>LinkedIn</a></li>
				</ul>	

			</div>
		</section>

	</main>

	<script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
</body>
</html>
